<nav>
	<div class="nav-wrapper">
		<a href="/" class="brand-logo">Courses App</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			{{#if isHome}}
				<li class="active"><a href="/">Main</a></li>
			{{else}}
				<li><a href="/">Main</a></li>
			{{/if}}

			{{#if isCourses}}
				<li class="active"><a href="/courses">Courses</a></li>
			{{else}}
				<li><a href="/courses">Courses</a></li>
			{{/if}}

			{{#if isAdd}}
				<li class="active"><a href="/add">+ Add course</a></li>
			{{else}}
				<li><a href="/add">+ Add course</a></li>
			{{/if}}

			{{#if isCart}}
				<li class="active"><a href="/cart">Cart</a></li>
			{{else}}
				<li><a href="/cart">Cart</a></li>
			{{/if}}
		</ul>
	</div>
</nav>