<h1>Add course</h1>

<form action="/add" method="post">
	<div class="input-field col s6">
		<input id="title" name="title" type="text" class="validate" required>
		<label for="title">Course Name</label>
		<span class="helper-text" data-error="Insert a course name"></span>
	</div>

	<div class="input-field col s6">
		<input id="price" name="price" type="number" class="validate" required min="1">
		<label for="price">Course price</label>
		<span class="helper-text" data-error="Insert a course price"></span>
	</div>

	<div class="input-field col s6">
		<input id="img" name="img" type="text" class="validate" required>
		<label for="img">Course logo Url</label>
		<span class="helper-text" data-error="Insert link to a course logo"></span>
	</div>

	<button class="btn btn-primary">Add course</button>
</form>