<h1>Cart</h1>

<div id="cart">
	{{#if courses.length}}
		<table>
			<thead>
			<tr>
				<th>Course</th>
				<th>Amount</th>
				<th>Action</th>
			</tr>
			</thead>
			<tbody>
			{{#each courses}}
				<tr>
					<td>{{title}}</td>
					<td>{{count}}</td>
					<td>
						<button class="btn btn-small js-remove" data-id="{{id}}">Delete</button>
					</td>
				</tr>
			{{/each}}
			</tbody>
		</table>
		<p>
			<strong>Total price: </strong> <span class="price">{{price}}</span>
		</p>
	{{else}}
		<p>Cart is empty</p>
	{{/if}}
</div>