<h1>Edit course {{course.title}}</h1>

<form action="/courses/edit" method="post">
	<div class="input-field col s6">
		<input id="title" name="title" type="text" class="validate" required value="{{course.title}}">
		<label for="title">Course Name</label>
		<span class="helper-text" data-error="Insert a course name"></span>
	</div>

	<div class="input-field col s6">
		<input id="price" name="price" type="number" class="validate" required min="1" value="{{course.price}}">
		<label for="price">Course price</label>
		<span class="helper-text" data-error="Insert a course price"></span>
	</div>

	<div class="input-field col s6">
		<input id="img" name="image" type="text" class="validate" required value="{{course.image}}">
		<label for="img">Course logo Url</label>
		<span class="helper-text" data-error="Insert link to a course logo"></span>
	</div>

	<input type="hidden" name="id" value="{{course.id}}">

	<button class="btn btn-primary">Edit course</button>
</form>